{% extends 'Base.html' %}

{% load bootstrap3 %}
{% load mathfilters %}

{% block content %}
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 5px;
            empty-cells: hide;
            border-collapse: separate;
        }
    </style>

    <div class="row">
        <div class="panel panel-default">
            <table style="width: 100%">
                <tr>
                    <th>Product id</th>
                    <th>Product name</th>
                    <th colspan="2">Amount</th>
                    <th colspan="2">Price</th>
                </tr>
                {% for prod in products %}
                    <tr>
                        <td>{{ prod.id }}</td>
                        <td><a href="{% url "single_product" prod_id=prod.id %}">{{ prod.name }}</a></td>
                        <td><a href="{% url "minus_shoppingcart" prod_id=prod.id %}">{% bootstrap_icon "minus" %}</a> {{ prod.counter }} <a href="{% url "plus_shoppingcart" prod_id=prod.id %}">{% bootstrap_icon "plus" %}</a></td>
                        <td><a href="{% url "del_shoppingcart" prod_id=prod.id %}">delete</a></td>
                        <td>{{ prod.price }} $</td>
                        <td>subtotal: {{ prod.price|mul:prod.counter }} $</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>total: {{ total }} $</td>
                </tr>
            </table>
        </div>
        {% if not request.user.is_authenticated %}
            <form action="{% url "gen_pdf" %}" method="get" accept-charset="utf-8">
                <input name="anon_mail" type="email" placeholder="Input email here!" required="required" class="col-xs-8"><br><br>
                <button class="btn btn-primary" type="submit">
                    Checkout {% bootstrap_icon "arrow-right" %}
                </button>
            </form>
        {% else %}
            {% buttons %}
                <a class="btn btn-primary" href="{% url "gen_pdf" %}" type="submit" role="button">Checkout {% bootstrap_icon "arrow-right" %}</a>
            {% endbuttons %}
        {% endif %}
    </div>

{% endblock content%}
