{% extends 'Base.html' %}

{% load bootstrap3 %}

{% block content %}
    {% buttons %}
        <a class="btn btn-primary" href="#" role="button">Checkout {% bootstrap_icon "arrow-right" %}</a>
    {% endbuttons %}
    {% for prod in products %}
        <div class="row">
            <div class="panel panel-default">
                <a href="{% url 'single_product' prod_id=prod.id %}">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <img src="{{ prod.photo.url }}" class="img-responsive">
                            <h4>{{ prod.name }} {{ prod.manufacturer }}</h4>
                        </div>
                        <div class="col-md-6">
                            {{ prod.attributes }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock content%}