{% extends 'Base.html' %}

{% block content %}
    {% for prod in products %}
        <div class="row">
            <div class="panel panel-default">
                <a href="{% url 'single_product' prod_id=prod.id %}">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <img src="{{ prod.photo.url }}" class="img-responsive">
                            <h4>{{ prod.name }} {{ prod.manufacturer }}</h4>
                        </div>
                        <div class="col-md-6 panel panel-default" style="color: black">
                            {% for attribute_name in  prod.product_for_value.all|slice:":5" %}
                                <p>{{ attribute_name.attribute.name }}: {{ attribute_name.value }} {{ attribute_name.attribute.dimension }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}